
<div class="col-lg-8 col-lg-offset-2">

    <input class="col-lg-12 form-control" type="text" ng-model="newGroupName" placeholder="New group name..." />
    <textarea class="form-control" rows="3" ng-model="newGroupDescription" placeholder="What's this group about?"></textarea>
    <button class="btn btn-default pull-right" ng-click="createGroup()">Post</button>

    <div ng-repeat="group in groups">
        <hr>
        <h4><a href ng-href="#/groups/{{ group.pk }}">{{group.name}}</a> ({{ group.pk }})</h4>
        <p>{{group.description}}</p>
    </div>
</div>