<div class="col-lg-8 col-lg-offset-2">
    <h3>{{post.owner_name}} in <a href="" ng-href="#/groups/{{ post.group }}">{{ post.group_name }}</a> <small>{{ post.timestamp | date:'dd MMM yyyy h:m:sa' }}</small></h3>
    <p>{{post.text}}</p>
    <div ng-repeat="comment in post.comments">
        <hr>
        <a href ng-click="removeComment(comment.pk)" ng-show="comment.owner_name===username"><i class="pull-right fa fa-remove"></i></a>
        <p><strong>{{comment.owner_name}}:</strong> {{comment.text}}</p>
    </div>
    <hr>
    <form ng-submit="createComment(post.pk, form.comment)" class="no-gutter">
        <input type="hidden" name="post_id" value="{{post.pk}}" />
        <div class="col-md-10">
            <input type="text" ng-model="form.comment" placeholder="Comment..." class="form-control">
        </div>
        <input type="submit" class="btn btn-primary col-md-2" value="Comment">
    </form>
</div>